[data-md-color-scheme="slate"] {
	--md-hue: 206;
  --md-primary-fg-color: #2d3a82;
  --md-typeset-a-color: #578cff;
}

:root {
  --md-primary-fg-color: #2d3a82;
}

:root {
  --md-admonition-icon--vsc: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48"><path d="M44.999 10.87v26.21c0 1.03-.59 1.97-1.51 2.42-2.68 1.29-8 3.85-8.35 4.01-.13.07-.38.2-.67.31.35-.6.53-1.3.53-2.02V6.2c0-.75-.2-1.45-.56-2.06.09.04.17.08.24.11.2.1 5.98 2.86 8.8 4.2C44.409 8.9 44.999 9.84 44.999 10.87zM7.499 26.03c1.6 1.46 3.43 3.13 5.34 4.86l-4.6 3.5c-.77.57-1.78.5-2.56-.05-.5-.36-1.89-1.65-1.89-1.65-1.01-.81-1.06-2.32-.11-3.19C3.679 29.5 5.179 28.13 7.499 26.03zM31.999 6.2v10.11l-7.63 5.8-6.85-5.21c4.98-4.53 10.01-9.11 12.65-11.52C30.869 4.74 31.999 5.25 31.999 6.2zM32 41.798V31.69L8.24 13.61c-.77-.57-1.78-.5-2.56.05-.5.36-1.89 1.65-1.89 1.65-1.01.81-1.06 2.32-.11 3.19 0 0 20.145 18.338 26.485 24.116C30.871 43.26 32 42.753 32 41.798z"></path></svg>')
}
.md-typeset .admonition.vsc,
.md-typeset details.vsc {
  border-color: rgb(30, 152, 255);
}
.md-typeset .vsc > .admonition-title,
.md-typeset .vsc > summary {
  background-color: rgba(30, 152, 255, 0.1);
}
.md-typeset .vsc > .admonition-title::before,
.md-typeset .vsc > summary::before {
  background-color: rgb(30, 152, 255);
  -webkit-mask-image: var(--md-admonition-icon--vsc);
          mask-image: var(--md-admonition-icon--vsc);
}

:root {
  --md-admonition-icon--ghdesk: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6m-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3m44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8M97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1m-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7m32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1m-11.4-14.7c-1.6 1-1.6 3.6 0 5.9s4.3 3.3 5.6 2.3c1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2"/></svg>')
}
.md-typeset .admonition.ghdesk,
.md-typeset details.ghdesk {
  border-color: rgb(144, 50, 173);
}
.md-typeset .ghdesk > .admonition-title,
.md-typeset .ghdesk > summary {
  background-color: rgba(144, 50, 173, 0.1);
}
.md-typeset .ghdesk > .admonition-title::before,
.md-typeset .ghdesk > summary::before {
  background-color: rgb(144, 50, 173);
  -webkit-mask-image: var(--md-admonition-icon--ghdesk);
          mask-image: var(--md-admonition-icon--ghdesk);
}

h1, h2, h3, h4 {
  font-weight: bold !important;
}

b, strong {
  color: #ff682cec !important;
}

body > header {
  border-bottom: 1px solid #ff682c;
}

code {
  text-wrap: wrap;
}

hr {
  border-bottom: 1px solid #bebebeb2;
  margin: 16px 0;
}

.md-copyright__highlight {
  font-size: 15px;
  font-weight: 700;
}

.md-header__topic {
  font-weight: bold;
}

div[data-md-type='navigation']{
  font-weight: bold;
}

.arc {
  background-image: linear-gradient(
    200deg,
      #9000ff 0%,
      #a83fb6 29%,
      #6e00a1 67%,
      #E7ECEF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to { background-position: 200% center; }
}
